.output-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

.output-table th, .output-table td {
  border: 2px solid rgba(0, 0, 0, 0.41);
  padding: 8px;
  text-align: center;
}




.color-box:hover .hex-code {
  display: block;
}

.color-box:hover .hex-code {
  display: block;
}

.no-info {
  color: #888;
  font-style: italic;
}

.header{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}
