.output-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

.output-table th, .output-table td {
  border: 2px solid rgba(0, 0, 0, 0.41);
  padding: 8px;
  text-align: center;
}
