<div class="flex flex-col gap-4">
  <a class="flex items-center gap-2" routerLink="../">
    <ng-icon name="remixArrowLeftDoubleLine"></ng-icon>
    Back
  </a>

  <div class="flex justify-between">
    <div class="font-bold">Paints</div>
    <button (click)="showNewPaint = true">
      <span>Add Paint</span>
      <ng-icon name="remixAddCircleFill"></ng-icon>
    </button>
  </div>

  <ng-container class="flex flex-col gap-2" *ngIf="showNewPaint; else noPaints">

    <label class="text-sm ">Brand</label>
    <div class="flex  gap-4">
      <input type="text">
    </div>

    <label class="text-sm">Paint Range</label>
    <div class="flex  gap-4">
      <input type="text">
    </div>
    <label class="text-sm">Paint Name</label>
    <div class="flex  gap-4">
      <input type="text">
    </div>
    <label class="text-sm">Paint Hex</label>
    <div class="flex  gap-4">
      <input type="text">
    </div>


    <div class="flex justify-center">
      <button (click)="showNewPaint = true">
        <span>Save Paint</span>
        <ng-icon name="remixAddCircleFill"></ng-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #noPaints>
    <div class="text-center">You have no paints</div>
  </ng-template>


  <!--  <p>Selected: {{ selectedValue }}</p>-->
</div>
